  <!DOCTYPE html>
  <html lang='en'>
    <head>
      <meta charset='utf-8'>
      <title>Rock Paper Scissors</title>
      <link rel='stylesheet' href='/style.css'
    </head>
    <body>

      <nav>
       <ul>
         <h2>Let's play a game</h2>
      <button> <li><a href="/">home</a></li>        </button>
      </ul>
     </nav>

  <div class ="body"


         <%= yield %>



                   </div>



          <footer>
           <p id="rights">&copy;lidek</p>
         </footer>
         </div>
    </body>
  </html>
