

.body {

background: url(sansome.jpg);
background-repeat: no-repeat;
opacity: 0.5;
background-size: cover;
position: inherit;
display: flow-root;
padding-top: 400px;

}

h1 {
  color: blue;
}

h2 {
  color: green;
}

 .page {
  display: flex;
  justify-content: center;
  align-items: space-around;
  padding-top: 30;

}
.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
footer {
  display: block;
  justify-content: bottom;
  align-items: space-around;
  padding-top: 100px;
  font-size: 10;
  font-style: oblique;
  color: black;
  text-align: left;
}
